*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.content{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #180a29;
}

.header-content{
    padding: 30px 0;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content-logo img{
    max-width: 80px;
    margin: 0 10px;
}

.header-content ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-content ul li{
    margin: 8px 10px;
}

.header-content ul li a{
    text-decoration: none;
    color: #fff;
}

.header-content ul li button{
    cursor: pointer;
    width: 100px;
    background-color: #00eb84;
    border-radius: 20px;
    font-size: 9px;
    letter-spacing: 1.4px;
    padding: 10px;
}

#menu{
    display: none;
    color: #fff;
}

.container-1{
    margin-top: 100px;
    width: 100%;
    background: radial-gradient(49.78% 49.87% at 65.63% 44.55%, #2a004f 8.6%, #180a29 79.39%);
}

.container-1-content-1{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.container-1-content-1-img{
    margin: 10px 0;
    width: 585px;
    max-width: 100%;
    height: 600px;
    background-image: url(./../assets/falling-notebook-dois.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1-content-1-img p{
    position: relative;
    top: 60px;
    color: #fff;
}

.container-1-content-1-img a{
    position: relative;
    top: 40px;
    margin: 10px;
    background-image: url(./../assets/icon-play-notebook.svg);
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
}

.container-1-content-1-text{
    height: 600px;
    margin: 10px 0;
    max-width: 585px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-1-content-1-text h1{
    max-width: 500px;
    font-size: 3rem;
}

.container-1-content-1-text p{
    margin: 15px 0;
}

.container-1-content-1-text button{
    margin-top: 25px;
    cursor: pointer;
    max-width: 50%;
    width: 200px;
    background-color: #00eb84;
    border-radius: 40px;
    letter-spacing: 1.4px;
    padding: 20px;
    font-weight: bold;
}

.container-1-content-2{
    display: flex;
    justify-content: center;
}

.container-1-content-3{
    padding: 10px;
    max-width: 700px;
}

.container-1-content-3 h1{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

.container-1-content-3 h1 strong{
    color: #00eb84;
}

.container-1-content-3 p{
    margin: 20px 0 0 0;
    text-align: center;
    color: #fff;
}

.container-1-content-4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-1-content-4-card{
    width: 240px;
    height: 300px;
    background-color: #2a004f;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transform: translateY(35%);
}

.container-1-content-4-card-icone{
    position: relative;
    padding: 10px;
    width: 90%;
    height: 70%;
}

.container-1-content-4-card-icone h1{
    color: #fff;
}

.divider{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.divider-1{
    height: 5px;
    width: 20%;
    margin: 0 5px;
    background-color: #00eb84;
    border-radius: 5px;
}

.divider-2{
    width: 10%;
}

.container-1-content-4-text{
    padding: 15px;
    color: #00eb84;
}

.container-2{
    padding: 100px 10px 10px 0;
    background-color: #e5e5e5;
}

.container-2-content-1{
    padding: 50px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-2-content-1-img{
    background-image: url(./../assets/img-methodology.webp);
    background-size: cover;
    background-position: center;
    width: 491px;
    max-width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 5px;
}

.container-2-content-1-img a{
    background-image: url(./../assets/icon-play-notebook.svg);
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
}

.container-2-content-1-text{
    position: relative;
    bottom: 50px;
    width: 491px;
    padding: 20px;
    color: #2a004f;
}

.container-2-content-1-text h1{
    font-size: 3rem;
    font-weight: bold;
}

.container-2-content-1 button{
    margin-top: 25px;
    cursor: pointer;
    width: 30%;
    background-color: #00eb84;
    border-radius: 40px;
    letter-spacing: 1.4px;
    padding: 20px;
    font-weight: bold;

    position: relative;
    left: 200px;
    bottom: 90px;
}

.container-3{
    background-color: #2a004f;
    width: 100%;
    max-height: 500px;
}

.container-3-content-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateY(-50px);
}

.container-3-content-1-text-1{
    font-size: 2.5rem;
    text-align: right;
    max-width: 250px;
    margin-left: 60px;
    margin-right: 10px;
    height: 500px;
    display: flex;
    align-items: center;
    color: #fff;
}

.container-3-content-1-text-1 strong{
    color: #00eb84;
}
.container-3-content-1-img{
    background-image: url(./../assets/cel-gif.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    max-width: 350px;
    height: 600px;
}

.container-3-content-1-text-2{
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    height: 500px;
}

.container-3-content-1-text-2-text{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.container-3-content-1-text-2-text p{
    margin: 10px 0;
}

.container-3-content-1-text-2-text p strong{
    color: #00eb84;
    font-size: 1.2rem;
}

.container-3-content-1-text-2 button{
    margin-top: 25px;
    cursor: pointer;
    max-width: 50%;
    width: 200px;
    background-color: #00eb84;
    border-radius: 40px;
    letter-spacing: 1.4px;
    padding: 20px;
    font-weight: bold;
}



@media screen and (max-width:1060px) {
    .header-content ul li{
        display: none;
    }
    #menu{
        display: block;
        cursor: pointer;
    }
    .container-1-content-2{
        display: none;
    }

    .container-2-content-1-text{
        position: static;
        text-align: center;
        order: 1;
    }
    .container-2-content-1-img{
        order: 2;
    }
    .container-2-content-1 button{
        display: block;
        position: static;
        width: 50%;
        min-width: 200px;
        order: 3;
    }
    .container-3{
        max-height: none;
        height: auto;
    }
}

@media screen and (max-width:425px) {
    html,body{
        font-size: 14px;
    }
    .container-1-content-1-img{
        height: 400px;
    }
    .container-2-content-1-img{
        height: 200px;
    }
    .container-2-content-1 button{
        width: 80%;
        height: 70px;
        border-radius: 25px;
        font-size: 1.5rem;
    }
    
    * button{
        font-size: 10px !important;
    }
}



